
# Created by https://www.gitignore.io/api/firebase,code

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/*
.vscode/*

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

# Mac OS
.DS_store

# End of https://www.gitignore.io/api/firebase